<div ng-controller="ListController as listCtrl ">


    <div class="jumbotron">
        <div class="container">
            <p>Haz click en las diferentes columnas para ver la solución</p>
        </div>
    </div>

    <div class="well bs-component row" ng-show="listCtrl.pharsalVerb == null">
        <div class="col-md-4 " ></div>
        <div class="col-md-4 " ><img src="../img/loading_spinner.gif" /></div>
        <div class="col-md-4 " ></div>
    </div>
    <div class="well bs-component" ng-show="listCtrl.pharsalVerb != null">
        <table class="table table-striped table-hover " >
            <thead>
                <tr>
                    <th>Verbo en Inglés</th>
                    <th>Traducción</th>
                    <th>Ejemplo Inglés</th>
                    <th>Ejemplo Español</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in listCtrl.pharsalVerb">
                    <td><span ng-bind="v.verb"></span></td>
                    <td ng-click="listCtrl.mostrarTraduccion(v)" ><span ng-bind="v.traduccion" ng-class="{'ng-show': v.mostrarTraduccion == 1 , 'ng-hide' : v.mostrarTraduccion != 1 }"></span></td>
                    <td  ng-click="listCtrl.mostrarEjemplo(v)"><span ng-bind="v.ejemplo" ng-class="{'ng-show': v.mostrarEjemplo == 1 , 'ng-hide' : v.mostrarEjemplo != 1 }"></span></td>
                    <td ng-click="listCtrl.mostrarEjemploTraducido(v)"><span ng-bind="v.ejemploTraducido"  ng-class="{'ng-show': v.mostrarEjemploTraducido == 1 , 'ng-hide' : v.mostrarEjemploTraducido != 1 }"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>